.auctionContainer{
    display: flex;
    flex-direction: row;
    margin: 10px;
    flex-wrap: wrap;
}

.auctionItem{
    margin-left: 5px;
}

.auctionBid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.auctionBid button{
    background: linear-gradient(79.69deg, #1D4ED8 -0.64%, #5AD7FE 107.84%);
    width: 100%;
    height: 42px;
    border: none;
}

.auctionContent{
    margin-left: 25px;
    flex-basis: 50%;
}