.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #FFE5F1;
    color: white;
    flex-wrap: wrap;
}

.navbar-left{
    display: flex;
    align-items: center;
}

.navbar-right{
    display: flex;
    align-items: center;
}



.navbar-logo {
    text-decoration: none;
}

.navbar-text {

    color: #191D23;

    width: Hug (221px)px;
    height: Hug (41px)px;
    gap: 10px;
    opacity: 0px;
    font-family: Manrope;
    font-size: 30px;
    font-weight: 700;
    line-height: 40.98px;
    text-align: left;

}


.navbar-button1 {
    margin-left: 15px;
    padding: 10px 15px;
    color: #1D4ED8;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: inherit;
    cursor: pointer;
}

.navbar-button2 {
    margin-left: 15px;
    padding: 10px 15px;
    background: linear-gradient(79.69deg, #1D4ED8 -0.64%, #5AD7FE 107.84%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
